.green {
    padding: 100px 10%;
    text-align: center;
    background: linear-gradient(
            to bottom,
            rgba(243, 182, 153, 0.06),
            rgba(120, 200, 140, 0.15)
    );
}

.green-title {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.8rem;
    color: rgba(35, 92, 60, 0.9);
    margin-bottom: 20px;
}

.green-intro {
    font-family: 'Alumni', sans-serif;
    font-size: 1.4rem;
    color: #6c8f7a;
    max-width: 600px;
    margin: 0 auto 60px auto;
    line-height: 1.6;
}

.green-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.green-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 260px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*just to soften it, does nothing imp here*/
}

.green-card h3 {
    font-family: 'Fredoka', sans-serif;
    color: rgba(35, 92, 60, 0.9);
    margin-bottom: 10px;
}

.green-card p {
    font-family: 'Alumni', sans-serif;
    font-size: 1.2rem;
    color: #9a8d88;
}

.green-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}