.footer {
    background: rgba(17, 17, 17, 0.44);
    color: white;
    padding: 40px 30px 20px;
    margin-top: 50px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer h3,
.footer h4 {
    margin-bottom: 12px;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 16px;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #185a9d;
}
